/* 
  ========================================
  Browser reset
  http://meyerweb.com/eric/tools/css/reset/ 
	  v2.0 | 20110126
	  License: none (public domain)
  ========================================
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*
  ========================================
  Custom styles
  ========================================
*/
body {    
	background: #fff;
	color: #292f33;
	font-size: calc(14px + (17 - 14) * ((100vw - 300px) / (1600 - 300)));
	font-family: courier-std, monospace;
	font-style: normal;
	font-weight: 400;
	line-height: 180%;
}
/*
  ========================================
  Grid
  ========================================
*/
*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html, body {
	height: 100%;
}
body {
	display: flex;
	flex-flow: column;
	}
main {
	flex: 1 0 auto;
}
footer {
	flex-shrink: 0;
}
.content-wrapper {
	background-color: rgba(255, 255, 255, 0);
	padding: 50px 3%;
	margin: 0;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
@media screen and (min-width: 750px){
	.flex {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	main {
		padding-top: 80px;
	}
}
@media screen and (min-width: 870px) {
	.content-wrapper-web {
		padding: 50px 5%;
		margin: 30px 15%;
		border-radius: 20px;
		background: rgba(255, 255, 255, 0);
	}
	.footer {
		margin: 10px 15%;
	}
}
/* 
  ========================================
  Navigation bar
  ========================================
*/
.web-logo {
	display: none;
}
.header-right-web {
	display: none;
}
.navbar {
	display: flex; 
	width: 100%;
	padding: 10px 0; 
	justify-content: space-between;
	align-items: center;
	background: rgb(53, 53, 53);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-left {
	margin-left: 1%;
	font-family: 'Allerta Stencil', sans-serif;
}
/* ====== Logo  ====== */
.logo {
	color: #fff;		
	font-size: 2em;
	text-decoration: none;
	padding: 0 9px;
}
.logo:hover {
	color:  #27c7bd;
}
/* ====== Dropdown menu  ====== */
.menu-toggle {
  position: fixed;
  top: 7px;
  right: 7px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  z-index: 1;
  text-align: center;
  font-size: 2em;
  font-weight: 900;
  padding: 5px 9px 6px 8px;
  margin-bottom: 0;
  border-radius: 5px;
  transition: all .15s ease;
}
.top-nav {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  font-weight: 600;
  text-align: left;
  background-color: #fff;
  transition: all .35s ease;
}
.active {
	display: block;
	width: 100%;
}
.menu-item a {
	color: #fb8c00;
	font-size: 1.2em;
	display: block;
	padding: 3.5% 0 3.5% 10%;
	text-decoration: none;
	border-bottom: 1px solid #f2f2f2;
}
.menu-item a:hover {
	color: #fb8c00;
}
/* 
   ========================================
   Large screen view navigation bar  
   ========================================
*/
@media screen and (min-width: 750px) {
	.navbar {
		position: fixed;
		height: 80px;
	}
	/* ====== left side ====== */
	.logo {
		display: none;
	}
	.web-logo {
		display: block;
		text-decoration: none;
		padding: 6px;
	}
	.web-logo:hover {
		background-color: #404040;
		box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	.name-text {
		display: inline;
		vertical-align: middle;
		margin-left: 5px;
		color: #fff;
		font-size: 1.2em;
	}
	.profile-picture-nav {	
		vertical-align: middle;
		width: 60px;
		border: 1.3px solid #27c7bd;
		border-radius: 50%;
	}
	/* ====== right side ====== */
	.menu-toggle {
		display: none;
	}
	.top-nav {
  		display: inline-flex;
  		position: static;
  		font-weight: 500;
  		text-align: center;
  		background-color: inherit;
  		transition: none;
	}
	.menu-item a {
  		display: inline;
		color: #fff;
  		white-space: nowrap;
  		padding: 23px 15px;
		margin: 7px;
  		border-bottom: none;
	}
	.menu-item a:hover,
	.menu-item a:active {
  		background-color: #404040;
  		box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
		border-bottom: 1px solid #fb8c00;
	}
}
/* 
  ========================================
  Common styles
  ========================================
*/
/* ====== typography ====== */
h1 {
	font-family: "Allerta Stencil";
	color: #757575;
	font-size: 2em;
	line-height: 1.3;
	margin-bottom: 30px;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
}
h2 {
	color: #fb8c00;
	font-size: 1.3em;
	font-weight: 600;
	margin-bottom: 20px;
}
p {
	font-family: 'Open Sans';
	margin-bottom: .6em;
	text-align: justify;
}
h3 {
	font-family: "Allerta Stencil";
	color: #fff;
	font-size: 1em;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.2);
	margin: 20px 0 0 0;
}
.indent {
	text-indent: 3em;
}
.close {
	margin-bottom: 5px;
}
.far {
	margin-bottom: 50px;
}
.light-orange {
	color: #f46524;
}
.dark-orange {
	color: #27c7bd;
}
.gray {
	color: #757575;
}
.white {
	color: #fff;
}
a {
	color: #f46524;
}
.center-text{
	text-align: center;
}

/* 
  ========================================
  Home page main content
  ========================================
*/
/* ====== Mobile view entry page ====== */
.mobile-entry {
	text-align: center;
}
.profile-picture {
	width: 30%;
	margin: 0 auto;
	border: .1em solid #27c7bd;
	border-radius: 50%;
}
.web-entry {
	text-align: left;
	margin: 0 3%;
	padding: 10px 0 10px 2%;
}
.web-only {
	display: none;
}
/* ====== Web view entry page ====== */
@media screen and (min-width: 750px) {
	.mobile-entry {
		display: none;
	}
	.web-only {
		display: block;
	}
}
/* ====== Content/typography ====== */

.bullet {
	display: inline-block;
	height: .7em;
	width: .7em;
	margin-right: 10px;
	border-radius: 50%;
	background: #fb8c00;
}
p.presentation-txt span.bullet {
	background: #fff;
}
.call-to-action-txt {
	display: table;
	font-size: 1.2em;
	font-weight: 600;
	padding: 10px 0;
	margin: 0;
	background-color: #292f33;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    text-shadow: rgba(255,255,255,0.5) 0px 3px 3px;
    text-align: center;
}
.cover {
	width: 100%;
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  	padding: 70px 0;
}
.sunshine {
	background-color: rgb(53, 53, 53);
	background-image: url(../../images/sunshine.png);
	background-position: center center;
  	background-repeat: no-repeat;  
  /* This is what makes the background image rescale based
     on the container's size */
  	background-size: cover;
  	
}
.pm {
	background-color: rgb(53, 53, 53);
	background-image: url(../../images/pm.jpg);
	background-position: center center;
  	background-repeat: no-repeat;  
  /* This is what makes the background image rescale based
     on the container's size */
  	background-size: cover;
}
.ba {
	background-color: rgb(53, 53, 53);
	background-image: url(../../images/ba.jpg);
	background-position: center center;
  	background-repeat: no-repeat;  
  /* This is what makes the background image rescale based
     on the container's size */
  	background-size: cover;
}
.dirty-hands {
	background-color: rgb(53, 53, 53);
	background-image: url(../../images/dirty-hands.jpg);
	background-position: center center;
  	background-repeat: no-repeat;  
  /* This is what makes the background image rescale based
     on the container's size */
  	background-size: cover;
}
.contact {
	height: 100%;
	background-color: rgb(53, 53, 53);
	background-image: url(../../images/contact.jpg);
	background-position: center center;
  	background-repeat: no-repeat;  
  /* This is what makes the background image rescale based
     on the container's size */
  	background-size: cover;
}
.dark-txt {
	background-color: rgba(53, 53, 53, .86);
	border-radius: 20px;
	vertical-align: middle;
}
.presentation-txt {
	color: #fff;
}
.dark-txt a {
	color: #fff;
}
.dark-txt a:hover {
	color: #27c7bd;
}

/* 
  ========================================
  About me page main content
  ========================================
*/
/* ====== CSS carousel ====== */
.resume {
	width: 100%;
}
.form-wrapper {
	text-align: center;
}

/* 
  ========================================
  Footer
  ========================================
*/
footer {
	width: 100%;
	justify-content: space-between;
	align-items: center;
	background: rgb(53, 53, 53);
	text-align: center;
	box-shadow: 0 -4px 8px 0 rgba(0, 0, 0, 0.2), 0 -6px 20px 0 rgba(0, 0, 0, 0.19);
}
footer a {
	text-decoration: none;
	color: inherit;
}
.call-to-action {
	color: #fff;
	font-family: 'Allerta Stencil';
	padding: 20px 3%;
	text-shadow: 6px 6px 0px rgba(0,0,0,0.2);
	text-align: center;
}
.call-to-action-link {
	display: inline-block;
	margin: 20px 0;
	font-family: 'Open Sans';
	color: #fff;
	background-color: #fb8c00;
	font-weight: 300;
	font-size: 1.2em;
	padding: 0 1.5%;
	border-radius: 10px;
	border: 1px solid #fb8c00;
	text-decoration: none;
}
.call-to-action-link:hover {
	color: #fb8c00;
	background-color: #fff;
}
/* ====== Mobile view bottom navigation grid ====== */
.bottom-nav {
  	display: flex;
  	padding: 10px 8px;
}
.row {
	margin-bottom: 0;
	padding: 10px;
}
.bottom-nav a {
	color: #fff;
	font-size: 1em;
	white-space: nowrap;
	border-bottom: none;
}
.bottom-nav a:hover {
	color: #fb8c00;
	border-bottom: 1px solid #fb8c00;
	}
/* ====== Web view bottom navigation grid ====== */
@media screen and (min-width: 550px) {
	.column {
		display: inline-flex;
	}
}

.developer-signature {
	color: #fff;
	padding: 10px;
	margin-bottom: 0;
	margin-left: auto;
	font-size: .8em;
	font-weight: 300;
	text-align: right;
	align-self: flex-end;
}
